.DS_Store
ts-qml-poc/src/js/**/*

#robot
__pycache__
**/robot/log.html
**/robot/output.xml
**/robot/report.html

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# node
node_modules/
